@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Noto+Sans+Ethiopic:wght@400;700&display=swap");
@import "../node_modules/slick-carousel/slick/slick.css";
@import "../node_modules/slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  @apply font-montserrat  text-primary font-medium;
}
.flex-nav {
  @apply flex justify-between items-center;
}

.flex-centered {
  @apply flex justify-evenly items-center;
}

.main-bg {
  background: rgb(186, 244, 225);
  background: linear-gradient(
    180deg,
    rgba(186, 244, 225, 1) 23%,
    rgba(186, 244, 225, 0) 100%
  );
  height: 50vh;
}
.main-bg-2 {
  background: rgb(186, 244, 225);
  background: linear-gradient(
    180deg,
    rgba(186, 244, 225, 1) 23%,
    rgba(186, 244, 225, 0) 100%
  );
}

.btn {
  @apply rounded-xl px-5 py-2;
}

/* under line hover */

.hover-underline-animation {
  display: inline-block;
  position: relative;
  text-align: center;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  margin: 0 10px;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1ec28b;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.slick-prev:before,
.slick-next:before {
  color: #1ec28b;
}

.color-white {
  color: white;
}
.new-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.new-shadow-2 {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 9px;
}

/* loading */
.loader-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  width: 85px;
  height: 50px;
  background-repeat: no-repeat;
  background-image: linear-gradient(#1ec28b 50px, transparent 0),
    linear-gradient(#1ec28b 50px, transparent 0),
    linear-gradient(#1ec28b 50px, transparent 0),
    linear-gradient(#1ec28b 50px, transparent 0),
    linear-gradient(#1ec28b 50px, transparent 0),
    linear-gradient(#1ec28b 50px, transparent 0);
  background-position: 0px center, 15px center, 30px center, 45px center,
    60px center, 75px center, 90px center;
  animation: rikSpikeRoll 0.65s linear infinite alternate;
}
@keyframes rikSpikeRoll {
  0% {
    background-size: 10px 3px;
  }
  16% {
    background-size: 10px 50px, 10px 3px, 10px 3px, 10px 3px, 10px 3px, 10px 3px;
  }
  33% {
    background-size: 10px 30px, 10px 50px, 10px 3px, 10px 3px, 10px 3px,
      10px 3px;
  }
  50% {
    background-size: 10px 10px, 10px 30px, 10px 50px, 10px 3px, 10px 3px,
      10px 3px;
  }
  66% {
    background-size: 10px 3px, 10px 10px, 10px 30px, 10px 50px, 10px 3px,
      10px 3px;
  }
  83% {
    background-size: 10px 3px, 10px 3px, 10px 10px, 10px 30px, 10px 50px,
      10px 3px;
  }
  100% {
    background-size: 10px 3px, 10px 3px, 10px 3px, 10px 10px, 10px 30px,
      10px 50px;
  }
}
